<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./stylea/link.css">
    <title>education</title>
</head>
<style>

    #content ul{
        display: flex;
        height: 150px;
        width: 30%;
    }

    #content ul{
        font-size: 18px;
        gap: 5%;
        
    }


</style>
<body>
    <nav>
        <ul>
            <li><a href="../index.html">Home🏠</a></li>
            <li><a href="./contact.html">Education</a></li>
            <li><a href="./experience.html">Work Experience</a></li>
            <li><a href="./skills.html">Skills</a></li>
        </ul>
    </nav>

    <section>
        <div id="content"> 
            <h2>Education</h2>
            <ul>
                <li>Kindergarten: Ipeka</li>
                <li>Elementary: Penabur</li>
                <li>Middle school: Ignatius global school</li>
                <li>High school: Ignatius global school</li>
            </ul>
        </div>
    </section>

    <script src="../script.js"></script>
</body>
</html>
