<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./stylea/link.css">
</head>
<style>
#content ul {
            width: 50%;
            height: 300px;
        }

#content li {
            margin-bottom: 15px; /* Adjust the margin to increase or decrease the gap */
        }
</style>
<body>

    <nav>
        <ul>
            <li><a href="../index.html">Home🏠</a></li>
            <li><a href="./contact.html">Contact</a></li>
            <li><a href="./education.html">Education</a></li>
            <li><a href="./experience.html">Experi</a></li>
        </ul>
    </nav>
    <section>
        <div id="content"> 
            <h2>My Programming Skills</h2>
            <ul>
                <li><strong>Programming Languages:</strong> HTML, CSS, JavaScript, Python, Java</li>
                <li><strong>Web Development:</strong> Front-end and Back-end development</li>
                <li><strong>Game Development:</strong> Pygame for creating 2D games</li>
                <li><strong>Database:</strong> MySQL, MongoDB</li>
                <li><strong>Frameworks:</strong> React, Flask</li>
                <li><strong>Version Control:</strong> Git</li>
                <li><strong>Other Skills:</strong> Responsive Web Design, RESTful APIs, Basic UX/UI Design</li>
            </ul>
        </div>
    </section>
</body>
</html>
